/* FONTS
**************************************************/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

@import url(http://fonts.googleapis.com/css?family=Josefin+Slab|Oswald|Roboto+Slab:400,300,700);

/* Bootsrap 3.0  icons */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*
font-family: 'Josefin Slab', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif; 
*/

/* Sticky footer styles
-------------------------------------------------- */
html { position: relative; min-height: 100%; }
body { color: #c9c9c9; margin-bottom: 60px; font-size: 16px; }
footer { position: absolute; bottom: 0; width: 100%; height: 60px; }

/* HTML ELEMENTS
**************************************************/
body { color: #333; font-family: 'Source Sans Pro', sans-serif; font-weight: 200; font-style: normal; background-color: #ddd; }
h1, h2, h3, h4, h5, h6 { font-family: 'Oswald', sans-serif; font-weight: 400; font-style: normal; text-transform: uppercase;}
h1{ font-weight: 700; font-size: 48px; }
h2{ font-weight: 700; font-size: 42px; }
h3{ font-family: 'Josefin Slab', serif; font-weight: 300; }
a, a:hover { color: #333; text-decoration: none; }
/*header { height: 60px; }*/

.form-control,
.form-control { color: black; border: 3px solid #000; border-radius: 0; font-size: 16px; }
.input label { font-size: 18px; text-transform: uppercase; }

.logo{
	width: 250px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.btn-fayabash:hover,
.btn-fayabash { margin-top: 30px; color: white; text-transform: uppercase; background: black; font-size: 24px;  }

.alert { text-align: center; }
